body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #2d572c;
    color: white;
    padding: 20px;
}

.boton {
    background-color: #2d572c;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h2 {
    color: #2c3e50;
}

.contenedor-imagenes {
    display: flex;
    flex-direction: column;
    align-items: center; /* Opcional: centrar imágenes */
    gap: 10px; /* Opcional: espacio entre imágenes */
}
